.profile-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    padding: 0px 30px;
}

.profile-top {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}


.profile-top .profile-img {
    display: flex;
    height: 80px;
    aspect-ratio: 1/1;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border-radius: 50%;
}

.profile-top .profile-img img {
    width: 100%;
    aspect-ratio: 1/1;
}

.profile-top .profile-name {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    color: rgb(81, 142, 81);
    text-transform: uppercase;
}

.profile-middle {
    display: flex;
    flex-direction: column;
}

.profile-middle .profile-values {
    display: flex;
    flex-direction: column;
}

.profile-content .profile-values .profile-items-title {
    color: rgb(81, 142, 81);
    width: 100%;

}

.profile-content .profile-values .profile-data {
    /* background-color: cyan; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 10px
}

.profile-content .profile-values .profile-data .profile-item {
    width: calc(50% - 22px);
    flex-direction: column;
    padding-left: 10px;
    border: 1px solid rgb(81, 142, 81);
    border-radius: 10px;
}


.profile-content .profile-values .profile-data .profile-item .profile-item-title {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: -30px;
    font-weight: bolder !important;
    text-transform: uppercase;
    color: rgb(81, 142, 81);
}

.profile-content .profile-values .profile-data .profile-item .profile-item-value {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: -10px;
    color: rgb(143, 143, 143);
}

.aaaa {
    background-color: rgb(81, 142, 81);
    background-color: rgb(113, 199, 113);
    background-color: rgb(103, 179, 103);
}



.profile-item-row.profile-images {
    width: 100%;
    height: 100%;
}

.profile-item-row.profile-images .profile-images-title {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: -30px;
    font-weight: bolder !important;
    text-transform: uppercase;
    color: rgb(81, 142, 81);
}

.profile-item-row.profile-images .profile-image {
   border: 1px solid rgb(81, 142, 81);
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 0px;
}


.profile-item-row.profile-images .profile-image img{
    width: 80%;
 }


.profile-bottom {
    /* background-color: red; */
    /* height: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(81, 142, 81);
}

.profile-bottom-title {
    width: 100%;
}

.profile-bottom-title h2 {
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(81, 142, 81);
    /* width: 100%; */
}

.profile-bottom .profile-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 30px;
    width: 100%;
    height: 100%;
}

.profile-bottom .profile-actions-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 30px;
    color: white;
    font-size: 13pt;
    justify-content: center;
    align-items: center;
    width: 60%;
}


.profile-bottom .profile-actions-row a {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 30px;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 13pt;
    border-radius: 10px;
}




.edit {
    background-color: rgb(113, 199, 113);
}

.back {
    background-color: rgb(110, 137, 255);
}

.delete {
    background-color: rgb(255, 124, 124);

}